{% load h5bp %}
{% load bootstrap %}
{% block html %}
<!DOCTYPE html>
{% h5bp_html 'en' %}
{% endblock html %}
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    {% endblock meta %}
    {% block head_css %}
        {% block h5bp_css %}
        {% endblock h5bp_css %}
        {% block bootstrap_css %}
            {% bootstrap_css %}
            {% bootstrap_responsive_css %}
        {% endblock bootstrap_css %}
    {% endblock head_css %}
    {% block head_js %}
        {% h5bp_modernizr '2.6.2' %}
    {% endblock head_js %}
</head>
<body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
    {% block body_content %}
    <!--[if lt IE 7]>
        <div class="alert alert-warning">
            <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        </div>
    <![endif]-->
    {% endblock body_content %}
    {% block body_js %}
        {% block h5bp_jquery %}
            {% h5bp_jquery '1.10.1' %}
        {% endblock h5bp_jquery %}
        {% block bootstrap_js %}
            {% bootstrap_js all %}
        {% endblock bootstrap_js %}
        {% block h5bp_ga %}
        {% endblock h5bp_ga %}
        {% block ios_fix %}
        {% endblock ios_fix %}
    {% endblock body_js %}
</body>
</html>