{% extends 'djfrontend/base.html' %}
{% load djfrontend %}

    {% block head_css %}
        
        {% block djfrontend_h5bp_css %}
        {% endblock djfrontend_h5bp_css %}
        
        {% block djfrontend_twbs_css %}
            {% djfrontend_twbs_css %}
            {% djfrontend_twbs_theme_css  %}
        {% endblock djfrontend_twbs_css %}
        
    {% endblock head_css %}
    
    {% block head_js %}
        {% djfrontend_modernizr %}
    {% endblock head_js %}
    
    {% block body_js %}
        
        {% block djfrontend_jquery %}
            {% djfrontend_jquery %}
        {% endblock djfrontend_jquery %}
        
        {% block djfrontend_twbs_js %}
            {% djfrontend_twbs_js %}
        {% endblock djfrontend_twbs_js %}
        
        {% block djfrontend_ga %}
        {% endblock djfrontend_ga %}
        
        {% block djfrontend_ios_fix %}
        {% endblock djfrontend_ios_fix %}
        
    {% endblock body_js %}